.post{ position: relative;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 320px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.15);
    margin: 0 16px 16px 0;
    border-radius: 4px;
    padding-left: 10px;
    padding-right:20px;
    padding-top: 10px;
}
.container{
    display: flex;
    flex-direction: row;
}
.btn-group .button {
    background-color: #4CAF50; 
    border: 1px solid green;
    color: white;
    padding: 15px 110px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-group .button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  .btn-group .button:hover {
    background-color: #3e8e41;
  }
  
  .img{
    margin-left: 10px;
    margin-right: 10px;
  }